.container {
    display: flex;
    flex-direction: column;  

    }
    
    .card1 {
      background-color: rgb(210, 210, 210);
      color: black;
      padding: 0px;
      margin: 0px;
      width: 100%;
    }
    
    .card2 {
      background-color: rgb(106, 90, 205);
      color: black;
      padding: 0px;
      margin: 0px;
      width: 100%;
    }